//Colors
$cyan: hsl(179, 62%, 43%);
$darkCyan: hsl(179, 62%, 40%); //added by me

$brightYellow: hsl(71, 73%, 54%);
$lightGray: hsl(204, 43%, 93%);
$grayishBlue:hsl(218, 22%, 67%);


//Font
@mixin font {
    font: {
        family: 'Karla', sans-serif;
        size: 16px;
        weight: 400;
    }
}